.mainer {
    height: 460px;
    /* 460 */
    position: relative;
    z-index: 1;
}
/* 图片 */
.mainer-img img {
    width: 1226px;
    height: 460px;
    position: absolute;
}

/* 左边的列表的样式 */
.mainer-nav {
    width: 234px;
    height: 460px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
}
.mainer-nav .nav-ul {
    width: 234px;
    height: 420px;
    margin: 20px 0;
    position: absolute;
    left: 0;
}
.nav-ul li {
    position: relative;
    height: 42px;
}

.nav-ul li:hover{
    background-color: rgb(255,103,0);
}
.nav-ul :hover .mainer-right {
    display: block;
}
.nav-ul a {
    width: 200px;
    margin-left: 20px;
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    position: absolute;
    left: 0;
}
.nav-ul p::before {
    width: 34px;
    height: 42px;
    content: '\e748';
    font-family: 'iconfont';
    color: #fff;
    font-size: 16px;
    line-height: 42px;
    position: absolute;
    right: 0;
}


/* 右边箭头的样式 */
.mainer-right {
    display: block;
    width: 992px;
    height: 460px;
    position: absolute;
    right: 0;
}
.mainer-right .target-left,
.mainer-right .target-right{
    width: 40px;
    height: 60px;
    margin-top: 200px;
    color: rgb(222, 222, 222);
    position: absolute;
}
.mainer-right .target-left {
    left: 0;
}
.mainer-right .target-right {
    right: 0;
}
.target-left span::before {
    content: '\e749';
    font-family: 'iconfont';
    font-size: 60px;
    line-height: 60px;
    margin-left: -10px;
}
.target-right span::before {
    content: '\e748';
    font-family: 'iconfont';
    font-size: 60px;
    line-height: 60px;
    margin-left: -10px;
}
.mainer-right .target-left:hover span,
.mainer-right .target-right:hover span {
    display: block;
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

/* 圆点设置 */
.mainer-right .pointer{
    position: absolute;
    right: 24px;
    bottom: 24px;
}

.pointer .point{
    float: left;
    width: 6px;
    height: 6px;
    background-color: rgba(0,0,0,.4);
    border-radius: 50%;
    margin-right: 8px;
    /* 将背景颜色设置到内容区 */
    /* background-clip: content-box; */
    border: 3px solid rgba(255, 255, 255, .3);   
}

.pointer .point:hover,
.pointer .point:active{
    background-color: #fff;
}